.hide {
  display: none !important;
}

#help-section {
  display: flex;
  justify-content: center;
}

#help-text {
  width: 35%;
  min-width: 550px !important;
  text-align: justify;
}

#help-text > h3, h4 {
  text-align: center;
}

#container {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

#emoji {
  margin-top: 5vh;
  color: black;
  height: 100px;
}

#emoji-button {
  border-radius: 10px;
}

.material-icons {
  font-size: 6em;
}

#win-face {
  color: lightgreen;
}

#lose-face {
  color: red;
}

.cell {
  height: 30px;
  width: 30px;
  padding: 0;
  font-weight: bolder;
}

.covered {
  background-color: gray;
}

.exposed-mine {
  background-color: red;
}

.disabled-button {
  pointer-events: none;
  cursor: not-allowed;
}

.flagged {
  color: black !important;
}

#info-box {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  text-transform: uppercase;
  vertical-align: center;
}

#info-box > div {
  padding: 20px 30px;
}

#info-box > div > span {
  font-weight: bolder;
  font-size: 1.5em;
}

.val-1 {
  color: green;
}

.val-2 {
  color: orange;
}

.val-3 {
  color: blue;
}

.val-4 {
  color: red;
}

.val-5 {
  color: gold;
}

.val-6 {
  color: cyan;
}

.val-7 {
  color: hotpink;
}

.val-8 {
  color: brown;
}